<div class="container-contact100" id="questionnaire">
  <img class='topleft' src="./../../assets/images/logo.jfif" alt="School logo" width=170 height=400>
  <!-- <img class='topleft' src="./../../assets/images/logo.jfif" alt="School logo" width=200 height=500> -->
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" [formGroup]="this.form">
      <span class="contact100-form-title">
        Restaurant scolaire Lycée Marcelle Pardé - Rechercher cas contacts
      </span>


      <div class="wrap-input100 validate-input" data-validate="Veuillez entrer le nom de famille de l'élève ">
        <input class="input100" formControlName="newValue" id="lastname" type="text" name="lastname"
          placeholder="Nom de famille" #nom>
        <label class="label-input100" for="lastname">
          <span class="lnr lnr-user"></span>
        </label>
      </div>
      
      <div class="wrap-input100 validate-input" data-validate="Veuillez entrer le nom de famille de l'élève ">
        <input class="input100" formControlName="newValue" id="firstname" type="text" name="firstname"
          placeholder="Prénom" #prenom>
        <label class="label-input100" for="firstname">
          <span class="lnr lnr-user"></span>
        </label>
      </div>

      <div class="wrap-input100 validate-input" data-validate="Combien de jours souhaitez-vous afficher ? (champ optionnel)">
        <input class="input100" formControlName="newValue" id="jours" type="text" name="jours"
          placeholder="Champ optionnel : durée de transmission (défaut = 7 jours)" #jours>
        <label class="label-input100" for="jours">
          <span class="lnr lnr-user"></span>
        </label>
      </div>


      <div class="container-contact100-form-btn">
        <div class="wrap-contact100-form-btn">
          <div class="contact100-form-bgbtn"></div>
          <button (click)="onQuery( nom.value , prenom.value, jours.value);showResults();" class="contact100-form-btn">
            Soumettre
          </button>
        </div>
      </div>

    </form>
  </div>
  <!-- <div>Nom de l'élève: {{this.tmp}}</div> -->
  <!-- add name, class to print on top & pretty print  -->
  <ng-container *ngIf="show" #table>
    <table class="table table-hover"  id="excel-table">
      <thead>
        <div>Liste des cas contacts pour {{this.fullname}}:</div>
        <a style="cursor: pointer" (click)="exportexcel()">
          <img src="./../../assets/images/downloadicon.svg" alt="download icon">
          <a>Exporter en excel</a>
        </a>
        <tr>
          <th scope="col">Date </th>
          <th scope="col">Prénom de l'élève </th>
          <th scope="col">Nom </th>
          <th scope="col">Classe </th>

          <!-- <th scope="col" colspan="2">Prénom Nom et Classe de chaque élève assis à la cantine avec {{this.fullname}}</th> -->
        </tr>
      </thead>
      <tbody>
        <tr class="table-info" *ngFor="let int of this.CasContacts;let indexOfelement=index;">
          <!-- <th scope="row">{{indexOfelement}}</th> -->
          <td *ngFor="let value of int">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

</div>



<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

